:root {

    --text-font-min: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    --text-font-mid: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    --text-font-max: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;




}