:root {

    --text-font-min: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    --text-font-mid: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    --text-font-max:  'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  




}