

    /* header qismi */
    .m-d-section-click {
        width: 364px;
        height: max-content;
        padding: 2px 0 5px 0;
        background-color: rgb(0, 0, 253);
        display: flex;
        position: fixed;

        z-index: 2;


        >i {
            width: 20px;
            height: max-content;
            font-size: 50px;
            color: black;
            margin-left: 10px;
            margin-top: 7px;
            transform: rotate(-90deg);
            font-size: 13px;


        }

        >p {
            font-size: 16px;
            font-weight: 500;
            margin-left: 5px;
            font-family: var(--text-font-min);
        }

    }





    /*nav qismi*/

    .m-d-s-c-nav {
        width: 364px;
        height: 30px;
        display: flex;
        padding-top: 10px;
        justify-content: space-between;
        overflow-x: scroll;
        position: sticky;
        top: 30PX;
        
        background-color: rgb(255, 255, 255);
        z-index: 3;


        >P {
            min-width: max-content;
            width: 100%;
            padding: 0 4px 0 4px;
            color: rgb(71, 71, 72);
            border-bottom: 2px solid rgba(90, 90, 90, 0);
            transition: 0.5s;
            text-align: center;
            font-family: var(--text-font-max);
            font-size: 18px;
            font-weight: 500;
        }






    }

    .m-d-s-c-nav::-webkit-scrollbar {
        height: 8px;
        /* gorizontal */
        width: 8px;
        /* vertical */



    }


    .m-d-s-c-nav::-webkit-scrollbar-track {

        background-color: #13174100;


    }

    .m-d-s-c-nav::-webkit-scrollbar-thumb {
        background: rgba(60, 208, 60, 0);
        /* scroll harakatlanuvchi qismi */

    }












    .m-d-s-c-main-01 {
        width: max-content;
        height: max-content;
        margin: auto;
        padding-top: 35px;
        padding-bottom: 160px;

    }


    .m-d-s-c-main {
        width: 350px;
        height: 50px;
        margin-top: 10px;
        display: flex;
        justify-content: space-between;



    }

    .m-d-s-c-m-1 {
        width: 25%;
        height: 100%;
        padding: 0 10px;
        display: flex;
        justify-content: center;
        align-items: center;
        border: 1px solid rgb(129, 129, 129);
        border-radius: 5px;
        box-shadow: 0px 2px 4px 1px rgb(160, 160, 160);

        >p {
            color: red;
            font-family: var(--text-font-min);
            font-weight: 600;
        }


    }

    .m-d-s-c-m-2 {
        width: 63%;
        height: 80%;
        border: 1px solid rgb(129, 129, 129);
        margin-top: 0;
        padding: 5px;
        border-radius: 5px;
        box-shadow: 0px 2px 4px 1px rgb(160, 160, 160);

    }

    .m-d-s-c-m-2-text {
        width: 100%;
        height: 31%;
        display: flex;
        justify-content: space-between;
        font-size: 12px;
        color: rgb(52, 52, 52);
        font-family: var(--text-font-max);
        font-weight: 400;

    }


    .m-d-s-c-residu-check {
        width: 100%;
        height: max-content;
        padding: 0 0 25px 0;
        border-top: 1px solid rgb(123, 123, 123);
        position: fixed;
        background-color: rgb(255, 255, 255);
        bottom: 60px;
    }



    .m-d-s-c-residu-check-1 {
        width: max-content;
        height: max-content;
        padding: 6px 20px;
        display: flex;
        background-color: var(--red-t);
        margin: auto;
        margin-top: 15px;
        border-radius: 10px;


        >p {
            padding-left: 10px;
        }
    }




